default live
label live
	menu label ^Live - Xubh OS
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components quiet splash username=xubh hostname=xubh

label live-persist
	menu label ^Live with Persistence (encrypted)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components quiet splash username=xubh hostname=xubh persistence

label live-failsafe
	menu label Live (Failsafe mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components noapic noapm nodma nomce nolapic nomodeset nosmp vga=normal

label live-debug
	menu label Live (Debug mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components debug console=tty0

label hd
	menu label Boot from first hard disk
	localboot 0x80
